* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Dancing Script", cursive;
}
.header {
  background-color: aqua;
  height: 230px;
  width: 800px;
  font-size: 28px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  background-image: url(./assets/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  margin: 0px;
  padding: 0px;
  font-family: "Dancing Script", cursive;
}
.content-main {
  height: 600px;
  width: 800px;
  display: flex;
}
.content-main .content-left {
  height: 100%;
  width: 30%;
  background-color: aquamarine;
  font-size: 28px;
  display: flex;
  padding-top: 100px;
  padding-left: 57px;
}
.content-left ul li a {
  text-decoration: none;
  font-size: 28px;
}
.content-left ul li a:hover {
  text-decoration: none;
  font-size: 38px;
  color: rgb(182, 39, 14);
}

.content-main .content-right {
  height: auto;
  width: 70%;
  background-color: cadetblue;
  font-size: 28px;
  position: relative;
}
.content-main {
  position: relative;
}

.content-right .content-info {
  position: absolute;
  z-index: 22;
  top: 20%;
  left: 10%;
}

.content-info h2 {
  padding-bottom: 25px;
}
.content-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  opacity: 0.4;
}

ul {
  margin: 0;
  list-style: none;
  padding-top: 140px;
  font-size: 20px;
}

.footer {
  background-color: grey;
  text-align: center;
  height: 200px;
  width: 800px;
  font-size: 28px;
  margin: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.footer h1 {
  padding-top: 5px;
}
